.main-container-eventlist {
  font-family: "Yusei Magic", sans-serif;
  position: relative;
  background-color: transparent;
  z-index: 1;


  .title-eventlist {
    font-size: 3rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
  }

  .event-title-confirm {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #00a98d;
    text-align: center;
    margin: 2rem;
  }

  #eventlist {
    padding: .3rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    .event-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.5rem;
      padding: .7rem;
      text-align: center;

      &:hover {
        color: rosybrown;
      }

      &:hover {
        color: rosybrown;
      }
    }

    #button-addevent {
      border-radius: 1rem;
      width: fit-content;
      padding: 0.3rem 1rem;
      font-size: 1.2rem;
      margin-top: 1rem;

      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .select-event {
    border-radius: 2rem;
    font-family: "Yusei Magic", sans-serif;
    border-radius: 10px;
    padding: .2rem;
    margin-bottom: 1rem;
    font-family: "Yusei Magic";
    font-weight: bold;
    font-size: 1rem;

    option {
      background: white;
    }
  }

  .pagination {

    @media (max-width: 600px) {
      display: flex;

      #button-single-event {
        border-radius: 8rem;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 2rem;

        &:hover {
          font-weight: bold;
          color: white;
        }
      }
    }

    #button-single-event {
      border-radius: 8rem;
      background-color: transparent;
      cursor: pointer;
      margin-bottom: 2rem;
      padding: .2rem 1.2rem;
      font-size: 1rem;

      &:hover {
        font-weight: bold;
      }
    }
  }

  .button {
    margin: 1rem;
    font-size: 1.2rem;

    &:hover {
      color: cadetblue;
    }
  }

  .article-event {
    display: flex;
    flex-direction: column;
    align-items: center;


    .title-eventlist-old {
      font-size: 2rem;
      color: white;
      text-align: center;
      text-transform: uppercase;
      padding: 2rem;
    }

    .description-event {
      color: white;
      text-align: center;
      margin: 1rem 9rem;
    }

    .nasa-image {
      height: 20rem;
      width: 25rem;
    }

  }

  .pagination {
    margin-top: 1rem;

    .button {
      margin: 1rem;

      &:hover {
        color: cadetblue;
      }
    }
  }
}

/* si petit écran */
@media screen and (max-width: 780px) {
  .main-container-eventlist {
    font-family: "Yusei Magic", sans-serif;
    position: relative;
    background-color: transparent;
    z-index: 1;


    .title-eventlist {
      font-size: 2rem;
      color: white;
      text-align: center;
      text-transform: uppercase;
      padding: 2rem;
      margin-top: 4rem;
    }
  }

  #eventlist {
    padding: .3rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:
      6rem;
    font-size: 1.3rem;

  }

  .select-event {
    border-radius: 2rem;
    font-family: "Yusei Magic", sans-serif;
    border-radius: 10px;
    padding: .2rem;
    margin-bottom: 1rem;

    option {
      background: white;
    }
  }

  .button {
    //margin: 1rem;
    font-size: 1.2rem;

    &:hover {
      color: cadetblue;
    }
  }

  .article-event {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-eventlist-old {
      font-size: 1.5rem;
      color: white;
      text-align: center;
      text-transform: uppercase;
      padding: 2rem;
    }
  }
}